.grid-page {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
          grid-gap:1em;
          margin: 1em;
          background-attachment: white;

}

.grid-products {
          display: grid;
          justify-content: center;
          line-height: 1;
          border-radius:5px;
}

img {
          width: 200px;height: auto;
         margin: 2em;
}


p {
          font-family: 'Hind', sans-serif;

        
}